<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><?= Config::get('site_name'). " - ". Config::get('page_title') ?></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>

<div class="row">
    <br>
    <br>
    <br>
</div>
<div class="container text-center">
    <div class="row">
        <h1>Erreur</h1>
    </div>
    <div class="row">
        <?php flash( 'errors' ); ?>
    </div>
    <div class="row">
        <?= $data["content"] ?>
    </div>
</div><!-- /.container -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>

</script>
</body>
</html>